<h1>Nested components</h1>

<markdown>
    With Contexr it is possible to create context menus in nested components and submenus will be merged when they have the same label.

    In this example we have a parent and child component which both have a submenu with the label `Submenu`:
</markdown>

<mat-card>
    <mat-card-header>Code</mat-card-header>
    <mat-card-content>
        <div style="column-count: 2;">
            <div>
                <mat-tab-group>
                    <mat-tab label="Parent component"><pre><code [highlightAuto]="parentCode"></code></pre></mat-tab>
                    <mat-tab label="Child component"><pre><code [highlightAuto]="childCode"></code></pre></mat-tab>
                </mat-tab-group>
            </div>
            <div>
                <app-parent></app-parent>
            </div>
        </div>
               
    </mat-card-content>
</mat-card>


