<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span>Contexr</span>
    <span class="filler"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/options">Creating menus</button>
    <button mat-button routerLink="/arguments">Arguments</button>
    <button mat-button routerLink="/nested">Nested Components</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<hotkeys-cheatsheet></hotkeys-cheatsheet>
