:host {
  height: 100%;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.container {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  padding: 25px;
}

.filler {
  flex: 1 1 auto;
}

::ng-deep .example {
  background-color: lightblue;
  padding: 20px;
}

::ng-deep mat-card {
  margin: 20px 0;
}