<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Contexr!
  </h1>
  <div
    ctx="yellow-square"
    style="
      background: yellow;
      width: 300px;
      height: 300px;
      margin: 0 auto;
    "
  >
    Right click for context menu!
    <div
      ctx="orange-square"
      style="
        background: orange;
        width: 100px;
        height: 100px;
        margin: 50px auto 0;
      "
    >Right click for inner context!
    </div>
  </div>
  <div
    ctx="blue-square"
    style="
      background: blue;
      width: 300px;
      height: 300px;
      margin: 0 auto;
    "
  >
    Right click for context menu!
    <div
      ctx="green-square"
      style="
        background: green;
        width: 100px;
        height: 100px;
        margin: 50px auto 0;
      "
    >Right click for inner context!
    </div>
    <app-some style="display: compact;"></app-some>
  </div>
</div>
<ctx-context-menu id="ctx"></ctx-context-menu>

