<h1>Options</h1>

<markdown>
    `Options` are context menu items with an action.
    <br /><br />
    The simplest context menu you can make consists only of `Options`. For this, just add a field of type `MenuItem[]` to your component, and add
    `ContexrModule` to your imports and add that menu to any element using `[ctx]="menu"` in your template:
</markdown>

<mat-card>
    <mat-card-header>Code</mat-card-header>
    <mat-card-content>
        <div style="column-count: 2">
            <div><pre><code [highlightAuto]="exampleCode"></code></pre></div>
            <div><app-options-example></app-options-example></div>
        </div>
    </mat-card-content>
</mat-card>


