<h2>Creating menus</h2>

<div>
    After installing Contexr, you can start adding context menus to your components.
    For example, if you need to increase and decrease a number displayed in your component,
    start by creating the field <code class="hljs">menu: MenuItem[]</code> and add the options that increase and decrease
    the <code class="hljs">count</code> field. In this example hotkeys are also defined for these options:
</div>

<mat-card>
    <mat-card-header>Code</mat-card-header>
    <mat-card-content>
        <div style="column-count: 2">
            <div><pre><code [highlightAuto]="exampleCode"></code></pre></div>
            <div><app-options-example></app-options-example></div>
        </div>
    </mat-card-content>
</mat-card>

<div>
    Hotkeys are provided by <a href="https://www.npmjs.com/package/angular2-hotkeys">angular2-hotkeys</a>. For more documentation, check out their npm page.
</div>