<h1>Options</h1>

<div>
    <code class="hljs">Option</code> are context menu items with an action.
    <br /><br />
    The simplest context menu you can make consists only of <code class="hljs">Options</code>. For this, just add a field of type 
    <code class="hljs">MenuItem[]</code> to your component, and add <code class="hljs">ContexrModule</code> to your imports and add 
    that menu to any element using <code class="hljs">[ctx]="menu"</code> in your template:
</div>

<mat-card>
    <mat-card-header>Code</mat-card-header>
    <mat-card-content>
        <div style="column-count: 2">
            <div><pre><code [highlightAuto]="exampleCode"></code></pre></div>
            <div><app-options-example></app-options-example></div>
        </div>
    </mat-card-content>
</mat-card>


