// @import '@angular/material/prebuilt-themes/cyan-orange.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #272c2c;
  color: #e0e3e2;
}
  
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
